body {
    background-color: rgb(218, 218, 218);
    color: rgb(14, 14, 9);
    font-size: 16px;
  }
  
  h3, p {
    text-align: center;
  }
  
  h3 {
    font-size: 32px;
  }
  
  p {
    font-size: 22px;
  }
  .app {    
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    .app-header, .app-container {
      text-align: center;
    }
  }